<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="with=device-width, initial-scale=1.0">
		<title> Network side-channel attack detector tool </title>
		{% load static %}
		<link rel="stylesheet" href="{% static '/css/style.css' %}">
	</head>
	
	<body>
		<section class="header">
			<header>
				<nav>
					<a href="/index"><img src="{% static 'images/logo.png' %}"></a>
						<div class="nav-links">
							<ul>
								<li><a href="/home">Home</a></li>
								<li><a href="/tools">Detector Tools</a></li>
								<li><a href="/guide">Guide</a></li>
								<li><a href="/about">About Us</a></li>
							</ul>
						</div>
				</nav>
			</header>
			
			<div class="text-box">
				<h1>Network Side-Channel Attack Detector Tools</h1>
				<p>Our detector can use to detect there is any vulnerability of side-channel attack. If the search term can be exploit accurately through the process, It means the website has the vulnerability to perform side-channel-attack. </p>
				<a href="/tools" class="hero-btn">Try out the detector tool!</a>
			</div>
		</section>
	
	</body>
</html>