<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="{% static '/js/script.js' %}" type="text/javascript"></script>    
</head>

<body>
    <p>Hi its working now.</p>
    <button id="addform" onclick="duplicate()">Extra upload</button>
    
    <form action="upload" method="post" enctype="multipart/form-data">
        <div id="uploadfilediv">
            <input type="file" name="uploadfile0" id="uploadfile0" multiple/>
        </div>
        <input type="text" name="ipadd" id="ipadd" minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$">
        <input type="submit" name="submit" value="Submit" />
    </form>

    <form action="reset" method="POST">
        <button type="submit">Reset</button>
    </form>

    <form action="testclassifiers" method="POST">
        <button type="submit">Test Classifiers</button>
    </form>
</body>
</html>