<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="with=device-width, initial-scale=1.0">
	<title> Network side-channel attack detector tool </title>
	{% load static %}
	<link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="{% static '/js/script.js' %}" type="text/javascript"></script>
</head>

<body>
	<div class="header">
		<header>
			<nav>
				{% load static %}
				<a href="/index"><img src="{% static 'images/logo.png' %}"></a>
				<div class="nav-links">
					<ul>
						<li><a href="/home">Home</a></li>
						<li><a href="/tools">Detector Tools</a></li>
						<li><a href="/guide">Guide</a></li>
						<li><a href="/about">About Us</a></li>
					</ul>
				</div>

			</nav>
		</header>	
	
	
		<div class="wrapper">
			<button class="plus-button plus-button--large" id="addform" onclick="duplicate()">+</button><br><br>
			
			<form action="upload" method="post" enctype="multipart/form-data">
				<div id="uploadfilediv">
					<input type="file" class="upload-box" name="uploadfile0" id="uploadfile0" multiple/>
				</div>
				<br><br><p class="ip-word" >IP address : <input type="text" name="ipadd" id="ipadd" minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$"></p>
				<br><br>
				<div class="one-line">
					<input class="button-test" type="submit" name="reset" value="Reset"/>
					<input class="button" type="submit" name="submit" value="Submit" />
				</div>
				<br><br>
			</form>

			{%if data1 %}
				<p style="font-weight:bold;font-size:125%;">Result</p><br>
				<p>Average True Positive Rate : {{data1 |linebreaksbr }}</p>
				<p>Average False Positive Rate : {{data2 |linebreaksbr }}</p>
				<p>Average Non-detection Rate : {{data3 |linebreaksbr }}</p>
			{%endif%}

		</div>
	</div>
</body>
</html>