<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="with=device-width, initial-scale=1.0" />
  <title>Network side-channel attack detector tool</title>
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/style.css' %}" />
  <script src="{% static '/js/script.js' %}" type="text/javascript"></script>
</head>

<body>
  <div class="header">
    <header>
      <nav>
        {% load static %}
        <a href="/index"><img src="{% static 'images/logo.png' %}" /></a>
        <div class="nav-links">
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/tools">Detector Tools</a></li>
            <li><a href="/guide">Guide</a></li>
            <li><a href="/about">About Us</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="wrapper" id="wrap">
      <button class="plus-button plus-button--large" id="addform" onclick="duplicate()">+</button>
      <br /><br />

      <form action="upload" method="post" enctype="multipart/form-data" onSubmit="loadingFunction()">
        <div id="uploadfilediv">
          <input type="file" onchange="checkFiles(this.files,this.id)" class="upload-box" name="uploadfile0" id="uploadfile0" multiple />
        </div>
        <br /><br />
        <p class="ip-word">
          IP address :
          <input type="text" name="ipadd" id="ipadd" minlength="7" maxlength="15" size="15"
            pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$" required="required"/>
        </p>
        <br /><br />
        <div class="one-line">
          <input class="button-test" type="reset" name="reset" value="Reset" />
          <input class="button" type="submit" name="submit" id="submit" value="Submit"/>
        </div>
        <br /><br />
      </form>

      <script>
        function loadingFunction() {
          var img = document.createElement("img");
          img.src = "{% static 'images/ajax-loader.gif' %}";
          document.getElementById("wrap").appendChild(img);
        }
      </script>

      {%if data1 %}
      <p style="font-weight: bold; font-size: 125%">Result</p>
      <br />
      <p>Side Channel Attack Detection Rate : {{data1}}%</p>
      <p>Total Number of Files Processed : {{data2}}</p>
      <br />
      <a href="{% static 'result-view.txt' %}" download>Click to download full result</a>
      {%endif%}
    </div>
  </div>
</body>
</html>